<section class="talk-section numbered" id="<%= slide.data[:id] %>" title="<%= slide.data[:title] %>" >
  <figure class="slides">
    <img class="slide" src="<%= slide.data[:slide][:image_url] %>" alt="<%= slide.data[:slide][:image_alt] %>">
  </figure>
  <div class="transcript">
    <%= slide.render(layout: false) %>
  </div>
</section>
